@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flexrow {
  display: flex;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.valign-top {
  align-items: flex-start;
}

.valign-bottom {
  align-items: flex-end;
}

.valign-center {
  align-items: center;
}

.valign-baseline {
  align-items: baseline;
}

.valign-stretch {
  align-items: stretch;
}

.group-resources {
  text-align: center;
  color: #f0f0e0;
  border: 1px solid #000;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px #000 inset;
  box-shadow: 0 0 5px #000 inset;
  border-radius: 5px;
  font-size: 23px;
  padding-left: 10px;
  padding-right: 10px;
}
.group-resources .resource-item {
  padding-top: 5px;
}
.group-resources .resource-label {
  text-align: start;
}
.group-resources .resource-controls {
  text-align: end;
  margin-left: 25px;
}
.group-resources .resource-button {
  background: white;
  color: black;
  cursor: pointer;
  border-radius: 20px;
  padding: 0px 9px 0px 9px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.global-resource-box {
  position: fixed;
  left: 222px;
  bottom: 15px;
}

.setting-button {
  width: 60px;
  height: 60px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  border: solid 3px;
  border-radius: 10px;
  font-size: 11px;
}

.atmosphere-flex {
  margin-left: 4px;
  max-width: 15px;
  min-width: 15px;
  text-align: end;
}

#controls .quick-dice-sheet-popup.control-tool {
  font-size: 18px !important;
  width: auto !important;
  height: auto !important;
}

.quick-dice-sheet-popup .dice-sheet-col1 {
  width: 90px;
  text-align: center;
}
.quick-dice-sheet-popup .dice-sheet-lastcol {
  border-right: none;
}
.quick-dice-sheet-popup .dice-sheet-lastrow {
  border-bottom: none;
}
.quick-dice-sheet-popup ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
}
.quick-dice-sheet-popup li {
  display: inline-block;
  width: 48px;
  text-align: center;
  padding: 5px;
  border-right: 1px solid #333;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
.quick-dice-sheet-popup li:hover {
  color: #FFF;
  border: 1px solid red;
  border-bottom: 1px solid #ff6400;
  box-shadow: 0 0 10px #ff6400;
  cursor: pointer;
}
.quick-dice-sheet-popup li i {
  font-size: 24px;
  vertical-align: middle;
}

.dice-sheet-sub-controls {
  position: absolute;
  left: 56px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: -32px;
  pointer-events: auto;
}

/* Styles limited to trinity-continuum sheets */
.trinity-continuum .item-form {
  font-family: "Roboto", sans-serif;
}
.trinity-continuum .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.trinity-continuum .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.trinity-continuum .sheet-header .header-fields {
  flex: 1;
}
.trinity-continuum .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.trinity-continuum .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.trinity-continuum .sheet-tabs {
  flex: 0;
}
.trinity-continuum .sheet-body,
.trinity-continuum .sheet-body .tab,
.trinity-continuum .sheet-body .tab .editor {
  height: 100%;
}
.trinity-continuum .tox .tox-editor-container {
  background: #fff;
}
.trinity-continuum .tox .tox-edit-area {
  padding: 0 8px;
}
.trinity-continuum .added-segment {
  margin-top: 10px;
}
.trinity-continuum .small-check {
  width: 13px;
  height: 13px;
}
.trinity-continuum .medium-check {
  width: 16px;
  height: 16px;
  padding-bottom: 3px;
}
.trinity-continuum .resource-label {
  font-weight: bold;
}
.trinity-continuum .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.trinity-continuum .items-header > * {
  font-size: 14px;
  text-align: center;
}
.trinity-continuum .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.trinity-continuum .skilltrick-list {
  margin-top: 10px;
}
.trinity-continuum .specialty-list {
  margin-top: 10px;
}
.trinity-continuum .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.trinity-continuum .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.trinity-continuum .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.trinity-continuum .items-list .item-name h3, .trinity-continuum .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.trinity-continuum .items-list .item-formula {
  flex: 0 0 90px;
  padding: 0 8px;
}
.trinity-continuum .items-list .item-controls {
  display: flex;
  flex: 0 0 80px;
  justify-content: flex-end;
}
.trinity-continuum .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.trinity-continuum .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.trinity-continuum .items-list .item:last-child {
  border-bottom: none;
}
.trinity-continuum .items-list .item .item-name {
  flex: 2 1 200px;
  color: #191813;
}
.trinity-continuum .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.trinity-continuum .items-list .item .item-tscale, .trinity-continuum .items-list .item .item-size, .trinity-continuum .items-list .item .item-soft, .trinity-continuum .items-list .item .item-hard {
  flex: 0 0 25px;
}
.trinity-continuum .items-list .item .item-rating, .trinity-continuum .items-list .item .item-tscale, .trinity-continuum .items-list .item .item-speed {
  flex: 0 0 30px;
}
.trinity-continuum .items-list .item .item-prating {
  flex: 0 0 45px;
}
.trinity-continuum .items-list .item .item-successes, .trinity-continuum .items-list .item .item-first {
  flex: 0 0 50px;
}
.trinity-continuum .items-list .item .item-handling, .trinity-continuum .items-list .item .item-duration, .trinity-continuum .items-list .item .item-level {
  flex: 0 0 60px;
}
.trinity-continuum .items-list .item .item-category, .trinity-continuum .items-list .item .item-skill, .trinity-continuum .items-list .item .item-ptype, .trinity-continuum .items-list .item .item-suspended, .trinity-continuum .items-list .item .item-path {
  flex: 0 0 70px;
}
.trinity-continuum .items-list .item .item-enhancement, .trinity-continuum .items-list .item .item-wound {
  flex: 0 0 85px;
}
.trinity-continuum .items-list .item .item-tags-short, .trinity-continuum .items-list .item .item-person {
  flex: 0 0 120px;
}
.trinity-continuum .items-list .item .item-tags {
  flex: 0 0 250px;
}
.trinity-continuum .items-list .item .item-enhancement, .trinity-continuum .items-list .item .item-person, .trinity-continuum .items-list .item .item-level, .trinity-continuum .items-list .item .item-wound, .trinity-continuum .items-list .item .item-first, .trinity-continuum .items-list .item .item-successes, .trinity-continuum .items-list .item .item-duration, .trinity-continuum .items-list .item .item-path, .trinity-continuum .items-list .item .item-tags-short, .trinity-continuum .items-list .item .item-prating, .trinity-continuum .items-list .item .item-size, .trinity-continuum .items-list .item .item-tags, .trinity-continuum .items-list .item .item-category, .trinity-continuum .items-list .item .item-suspended, .trinity-continuum .items-list .item .item-ptype, .trinity-continuum .items-list .item .item-skill, .trinity-continuum .items-list .item .item-rating, .trinity-continuum .items-list .item .item-soft, .trinity-continuum .items-list .item .item-hard, .trinity-continuum .items-list .item .item-tscale, .trinity-continuum .items-list .item .item-handling, .trinity-continuum .items-list .item .item-speed {
  text-align: center;
  font-size: 12px;
  margin: 0 5px;
}
.trinity-continuum .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.trinity-continuum .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.trinity-continuum .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.trinity-continuum .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.trinity-continuum .suite-row {
  display: flex;
  justify-content: start;
  align-items: center;
}
.trinity-continuum .suite-text {
  max-width: 350px;
}
.trinity-continuum .effects .item .effect-source,
.trinity-continuum .effects .item .effect-duration,
.trinity-continuum .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.trinity-continuum .effects .item .effect {
  display: flex;
}
.trinity-continuum .effects .item .effect-controls {
  border: none;
}
.trinity-continuum .effects .item .effect-duration {
  flex: 0 0 50px;
  margin: 0 5px;
}
.trinity-continuum .effects .item .effect-source {
  flex: 0 0 50px;
  margin: 0 5px;
}
.trinity-continuum .effects .item .effect-controls {
  flex: 0 0 100px;
  margin: 0 5px;
}
.trinity-continuum .baseline .sheet-tabs .active {
  text-shadow: 0 0 10px white !important;
}
.trinity-continuum .baseline .tabs .item:hover, .trinity-continuum .baseline .tabs .item:focus {
  text-shadow: 0 0 10px white;
  color: white;
}
.trinity-continuum .baseline .style-header, .trinity-continuum .baseline .items-list .items-header, .trinity-continuum .baseline .items-list .items-header .item-name {
  color: white;
  background-color: navy;
}
.trinity-continuum .nova .sheet-tabs .active {
  text-shadow: 0 0 10px goldenrod !important;
}
.trinity-continuum .nova .tabs .item:hover, .trinity-continuum .nova .tabs .item:focus {
  text-shadow: 0 0 10px goldenrod;
  color: goldenrod;
}
.trinity-continuum .nova .style-header, .trinity-continuum .nova .items-list .items-header, .trinity-continuum .nova .items-list .items-header .item-name {
  color: goldenrod;
  background-color: rgb(20, 20, 20);
}
.trinity-continuum .psion .sheet-tabs .active {
  text-shadow: 0 0 10px white !important;
}
.trinity-continuum .psion .tabs .item:hover, .trinity-continuum .psion .tabs .item:focus {
  text-shadow: 0 0 10px white;
  color: white;
}
.trinity-continuum .psion .style-header, .trinity-continuum .psion .items-list .items-header, .trinity-continuum .psion .items-list .items-header .item-name {
  color: white;
  background-color: maroon;
}
.trinity-continuum .sgc .sheet-tabs .active {
  text-shadow: 0 0 10px white !important;
}
.trinity-continuum .sgc .tabs .item:hover, .trinity-continuum .sgc .tabs .item:focus {
  text-shadow: 0 0 10px white;
  color: white;
}
.trinity-continuum .sgc .style-header, .trinity-continuum .sgc .items-list .items-header, .trinity-continuum .sgc .items-list .items-header .item-name {
  color: white;
  background-color: navy;
}
.trinity-continuum .talent .sheet-tabs .active {
  text-shadow: 0 0 10px rgb(124, 58, 34) !important;
}
.trinity-continuum .talent .tabs .item:hover, .trinity-continuum .talent .tabs .item:focus {
  text-shadow: 0 0 10px rgb(124, 58, 34);
  color: rgb(124, 58, 34);
}
.trinity-continuum .talent .style-header, .trinity-continuum .talent .items-list .items-header, .trinity-continuum .talent .items-list .items-header .item-name {
  color: white;
  background-color: rgb(124, 58, 34);
}
.trinity-continuum h2.style-header, .trinity-continuum h3.style-header {
  padding-top: 2px;
}
.trinity-continuum .text-2digit {
  min-width: 25px;
  max-width: 25px;
  text-align: center;
}
.trinity-continuum .text-3digit {
  min-width: 35px;
  max-width: 35px;
  text-align: center;
}
.trinity-continuum .math-label {
  max-width: 25px;
  text-align: center;
}
.trinity-continuum .resource {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}
.trinity-continuum .resource-section {
  display: flex;
  justify-content: space-between;
}
.trinity-continuum .health-section {
  max-width: 90px;
  min-width: 90px;
  padding-top: 5px;
}
.trinity-continuum .health-section .health-type {
  padding-top: 10px;
}
.trinity-continuum .health-section .health-row {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-top: 5px;
  text-align: center;
}
.trinity-continuum .health-section .health-label {
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
}
.trinity-continuum .mod-label {
  margin-left: 5px;
}
.trinity-continuum .status-section {
  display: grid;
  grid-template-columns: 100px 1fr;
}
.trinity-continuum .source-section {
  max-width: 325px;
  min-width: 275px;
  flex: 1 1 300px;
  padding-top: 5px;
}
.trinity-continuum .source-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 5px;
}
.trinity-continuum .attribute-header, .trinity-continuum .attribute-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.trinity-continuum .attribute-row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.trinity-continuum .attribute {
  flex: 5 1 160px;
  max-width: 160px;
  min-width: 120px;
}
.trinity-continuum .approach {
  flex: 0 0 55px;
  max-width: 55px;
  min-width: 55px;
  display: flex;
  margin-right: 5px;
  align-items: center;
}
.trinity-continuum .approach-label {
  font-size: 15px;
  font-weight: bold;
}
.trinity-continuum .skill {
  margin: 0px 15px;
}
.trinity-continuum .xp-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.trinity-continuum .xp-spent, .trinity-continuum .xp-total, .trinity-continuum .xp-current {
  flex: 1 1 40px;
  text-align: center;
}
.trinity-continuum .scale-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}
.trinity-continuum .scale-mods {
  text-align: left;
}
.trinity-continuum .suite-column {
  flex: 0 0 80px;
}
.trinity-continuum .radio-to-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border: 1px solid rgb(74, 74, 74);
  border-radius: 2px;
  content: none;
  outline: none;
  margin-bottom: 3px;
  margin-right: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex: 0 0 13px;
}
.trinity-continuum .radio-to-check:checked {
  background-color: black;
  border: 1px solid rgb(74, 74, 74);
}
.trinity-continuum .radio-to-check:checked::before {
  position: absolute;
  color: black !important;
  background-color: rgb(74, 74, 74);
  border: 1px solid rgb(74, 74, 74);
  border-radius: 2px;
}
.trinity-continuum .align-boxes {
  flex: 0 0 5px;
}
.trinity-continuum .maxed-out {
  flex: 0 0 220px;
}
.trinity-continuum .maxed-out-details {
  display: flex;
  justify-content: space-between;
}
.trinity-continuum .maxed-out-details .maxed-out-column1 {
  flex: 0 0 300px;
}
.trinity-continuum .maxed-out-details .maxed-out-column2 {
  flex: 1 0 300px;
  margin-right: 5px;
}
.trinity-continuum .maxed-out-row {
  display: flex;
  justify-content: start;
  margin: 5px 0;
}
.trinity-continuum .stat-detail-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}
.trinity-continuum .stat-detail-row .option-wound {
  flex: 0 0 90px;
}
.trinity-continuum .stat-detail-row .option-base {
  flex: 0 0 40px;
}
.trinity-continuum .stat-detail-row .option-stamina {
  flex: 0 0 45px;
}
.trinity-continuum .stat-detail-row .option-add {
  flex: 0 0 65px;
}
.trinity-continuum .stat-detail-row .option-mod {
  flex: 0 0 55px;
}
.trinity-continuum .stat-detail-row .option-wound, .trinity-continuum .stat-detail-row .option-base, .trinity-continuum .stat-detail-row .option-stamina, .trinity-continuum .stat-detail-row .option-add, .trinity-continuum .stat-detail-row .option-mod {
  text-align: center;
}

/*# sourceMappingURL=trinity-continuum.css.map */
