@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.valign-top {
  align-items: flex-start;
}

.valign-bottom {
  align-items: flex-end;
}

.valign-center {
  align-items: center;
}

.valign-baseline {
  align-items: baseline;
}

.valign-stretch {
  align-items: stretch;
}

.group-resources {
  left: 222px;
  bottom: 15px;
  position: fixed;
  text-align: center;
  color: #f0f0e0;
  border: 1px solid #000;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px #000 inset;
  box-shadow: 0 0 5px #000 inset;
  border-radius: 5px;
  font-size: 23px;
  padding-left: 10px;
  padding-right: 10px;
}

.group-resources .resource-item {
  padding-top: 5px;
}

.group-resources .resource-label {
  text-align: start;
}

.group-resources .resource-controls {
  margin-right: 10px;
  text-align: end;
}

.group-resources .resource-button {
  background: white;
  color: black;
  cursor: pointer;
  border-radius: 20px;
  padding: 0px 9px 0px 9px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Styles limited to trinity-2e sheets */
.trinity-2e .item-form {
  font-family: "Roboto", sans-serif;
}
.trinity-2e .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.trinity-2e .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.trinity-2e .sheet-header .header-fields {
  flex: 1;
}
.trinity-2e .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.trinity-2e .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.trinity-2e .sheet-tabs {
  flex: 0;
}
.trinity-2e .sheet-body,
.trinity-2e .sheet-body .tab,
.trinity-2e .sheet-body .tab .editor {
  height: 100%;
}
.trinity-2e .tox .tox-editor-container {
  background: #fff;
}
.trinity-2e .tox .tox-edit-area {
  padding: 0 8px;
}
.trinity-2e .added-segment {
  margin-top: 10px;
}
.trinity-2e .resource-label {
  font-weight: bold;
}
.trinity-2e .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.trinity-2e .items-header > * {
  font-size: 14px;
  text-align: center;
}
.trinity-2e .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.trinity-2e .skilltrick-list {
  margin-top: 10px;
}
.trinity-2e .specialty-list {
  margin-top: 10px;
}
.trinity-2e .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.trinity-2e .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.trinity-2e .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.trinity-2e .items-list .item-name h3, .trinity-2e .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.trinity-2e .items-list .item-formula {
  flex: 0 0 90px;
  padding: 0 8px;
}
.trinity-2e .items-list .item-controls {
  display: flex;
  flex: 0 0 80px;
  justify-content: flex-end;
}
.trinity-2e .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.trinity-2e .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.trinity-2e .items-list .item:last-child {
  border-bottom: none;
}
.trinity-2e .items-list .item .item-name {
  flex: 2 1 200px;
  color: #191813;
}
.trinity-2e .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.trinity-2e .items-list .item .item-rating, .trinity-2e .items-list .item .item-tscale, .trinity-2e .items-list .item .item-speed {
  flex: 0 0 30px;
}
.trinity-2e .items-list .item .item-handling {
  flex: 0 0 50px;
}
.trinity-2e .items-list .item .item-skill {
  flex: 0 0 70px;
}
.trinity-2e .items-list .item .item-category {
  flex: 0 0 70px;
}
.trinity-2e .items-list .item .item-enhancement {
  flex: 0 0 85px;
}
.trinity-2e .items-list .item .item-tscale, .trinity-2e .items-list .item .item-size, .trinity-2e .items-list .item .item-soft, .trinity-2e .items-list .item .item-hard {
  flex: 0 0 25px;
}
.trinity-2e .items-list .item .item-enhancement, .trinity-2e .items-list .item .item-size, .trinity-2e .items-list .item .item-category, .trinity-2e .items-list .item .item-skill, .trinity-2e .items-list .item .item-rating, .trinity-2e .items-list .item .item-soft, .trinity-2e .items-list .item .item-hard, .trinity-2e .items-list .item .item-tscale, .trinity-2e .items-list .item .item-handling, .trinity-2e .items-list .item .item-speed {
  text-align: center;
  font-size: 12px;
  margin: 0 5px;
}
.trinity-2e .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.trinity-2e .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.trinity-2e .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.trinity-2e .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.trinity-2e .effects .item .effect-source,
.trinity-2e .effects .item .effect-duration,
.trinity-2e .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.trinity-2e .effects .item .effect-controls {
  border: none;
}
.trinity-2e .nova {
  padding: 5px;
}
.trinity-2e .nova .tabs .item:hover, .trinity-2e .nova .tabs .item:focus {
  text-shadow: 0 0 10px red;
  color: red;
}
.trinity-2e .nova-header, .trinity-2e .nova .items-list .items-header, .trinity-2e .nova .items-list .items-header .item-name {
  color: rgb(203, 167, 48);
  background-color: rgb(20, 20, 20);
}
.trinity-2e .text-2digit {
  min-width: 25px;
  max-width: 25px;
  text-align: center;
}
.trinity-2e .math-label {
  max-width: 25px;
  text-align: center;
}
.trinity-2e .resource-section {
  display: flex;
  justify-content: space-between;
}
.trinity-2e .health-section {
  flex: 1 1 220px;
  max-width: 240px;
  min-width: 200px;
  padding-top: 5px;
}
.trinity-2e .health-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
.trinity-2e .health-label {
  width: 60px;
  flex-basis: 60px;
  font-weight: bold;
  align-items: center;
}
.trinity-2e .mod-label {
  margin-left: 5px;
}
.trinity-2e .health-details {
  width: 160px;
  flex-basis: 160px;
  align-items: center;
}
.trinity-2e .source-section {
  max-width: 325px;
  min-width: 275px;
  flex: 1 1 300px;
  padding-top: 5px;
}
.trinity-2e .source-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 5px;
}
.trinity-2e .source-col1 {
  margin: 0 5px;
  flex-basis: 100px;
  display: flex;
  justify-content: space-between;
}
.trinity-2e .source-col2 {
  margin: 0 5px;
  flex-basis: 190px;
  display: flex;
  justify-content: space-between;
}
.trinity-2e .source-element {
  align-items: center;
}
.trinity-2e .source-label {
  font-weight: bold;
}
.trinity-2e .attribute-header, .trinity-2e .attribute-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.trinity-2e .attribute-row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.trinity-2e .attribute {
  flex: 5 1 170px;
  max-width: 170px;
  min-width: 120px;
}
.trinity-2e .approach {
  flex: 1 5 60px;
  max-width: 60px;
  min-width: 40px;
  font-size: 16px;
  font-weight: bold;
}
.trinity-2e .skill {
  margin: 0px 15px;
}

/*# sourceMappingURL=trinity-2e.css.map */
