//Nova Sheet theming
.nova { 
  padding: 5px;
}

.nova .tabs .item:hover, .nova .tabs .item:focus {
  text-shadow: 0 0 10px red;
  color: red;
}

.nova-header, .nova .items-list .items-header,  .nova .items-list .items-header .item-name {
  color: rgb(203, 167, 48);
  background-color: rgb(20, 20, 20);
}


//character sheet digit displays.
.text-2digit {
  min-width: 25px;
  max-width: 25px;
  text-align: center;
}

.text-3digit {
  min-width: 35px;
  max-width: 35px;
  text-align: center;
}

.math-label {
  max-width: 25px;
  text-align: center;
}

//layout

//-resource section

.resource-section {
  display: flex;
  justify-content: space-between;
}

//-- health subsection

.health-section {
  max-width: 90px;
  min-width: 90px;
  padding-top: 5px;
}

.health-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  padding-top: 5px;
  text-align: center;
}

.health-label {
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

.mod-label {
  margin-left: 5px;
}

.status-section {
  display: grid;
  grid-template-columns: 100px 1fr;
}

//--source sub-section

.source-section {
  max-width: 325px;
  min-width: 275px;
  flex: 1 1 300px;
  padding-top: 5px;
}

.source-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 5px;
}

//-attribute section

.attribute-header, .attribute-row {
  display: flex; 
  width: 100%; 
  justify-content: space-between;
}

.attribute-row {   
   margin-top: 10px;
   margin-bottom: 10px;
}

.attribute {
  flex: 5 1 170px;
  max-width: 170px;
  min-width: 120px;
}

.approach {
  flex: 0 0 55px;
  max-width: 55px;
  min-width: 55px;
  display: flex;
  margin-right: 5px;
  align-items: center;
}

.approach-label {
  font-size: 15px;
  font-weight: bold;
}

//-skill section

.skill {
  margin: 0px 15px;
}

//- Experience Section
.xp-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.xp-spent, .xp-total, .xp-current {
  flex: 1 1 40px;
  text-align: center;
}

//-scale section
.scale-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}

.scale-mods {
  text-align: left;
}

.stat-detail-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.suite-column {
  flex: 0 0 80px;
}

.small-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border: 2px solid black;
  border-radius: 2px;
  content: none;
  outline: none;
  margin-bottom: 2px;
  margin-right: 3px;
  box-shadow: rgba(0,0,0, 0.24) 0px 3px 8px;
  flex: 0 0 13px;
}

.small-box:checked {
  background-color: black;
  border: 2px solid black;
}

.small-box:checked::before {
  position: absolute;
  color: black !important;
  background-color: black;
  border: 2px solid black;
  border-radius: 2px;
}