$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$nova-color: goldenrod;
$nova-background: rgb(20, 20, 20);
$talent-color: white;
$talent-background: rgb(124, 58, 34);
$psion-color: white;
$psion-background: maroon;
$baseline-color: white;
$baseline-background: navy;
$sgc-color: white;
$sgc-background: navy;


//First nova-color choice rgb(203, 167, 48)