$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

$border-groove: 2px groove #eeede0;
$nova-color: goldenrod;
$nova-background: rgb(20, 20, 20);
$talent-color: white;
$talent-background: rgb(124, 58, 34);
$psion-color: white;
$psion-background: maroon;
$baseline-color: white;
$baseline-background: navy;
$sgc-color: white;
$sgc-background: navy;


//First nova-color choice rgb(203, 167, 48)